@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,200;0,400;0,600;0,700;1,100;1,200;1,300;1,500;1,700;1,800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
  background-color: rgb(43, 41, 41);
  color: white;
}

.menu{font-size: 30px; display: none;}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 70px;
  background-color: transparent;
  position: fixed;
  top: 0;
  right: 0;
  transition: all 0.5s ease;
}
.navlinks {
  display: flex;
  justify-content: space-between;
  width: 25%;
}
.navlinks li {
  transition: all 0.5s ease;
  font-weight: 400;
  color: white;
}
.navlinks li:hover {
  color: blue;

  text-shadow: 3px 3px 20px blue, -2px 1px 3px white;
}
.logo {
  font-size: 30px;
  font-weight: 600;
  color: blue;
  background-color: transparent;
}
.logo:hover {
  filter: drop-shadow(3px 4px 7px white);
}
.contact {
  display: inline;
  border: 2px solid white;
  padding: 10px 26px;
  color: white;
  transition: all 0.5s ease;
}
.contact:hover {
  background-color: blue;
  color: white;
  box-shadow: 0 0 20px white;
  transform: scale(1.1);
}

section {
  padding: 0 16% 80px;
}
.hero {
  height: 100vh;
  width: 100%;
  /*
background: url(./assets/images/mypic.png);
background-size: cover;
background-position: top right;
*/
  display: flex;
  justify-content: center;
  grid-template-columns: 100%;
  color: white;
}
.main-hero{

 display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;


}

.main-article {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  margin-right: 30px;
  text-align: left;
  padding-left: 100px;
}

.my-name {
  font-size: 60px;
  font-weight: 900;
  letter-spacing: 1px;
  width: 700px;
}
.my-role {
  font-size: 33px;
  font-weight: 600;
}

.new {
  background-color: white;
}

.my-role span {
  color: blue;
}
.role-desc {
  font-size: 14px;
  text-align: left;
}
.socials {
}
.image {
  border-radius: 50%;
  border: 10px solid blue;
}
.btn {
  padding: 10px 20px;

  display: inline-block;
  background-color: blue;
  color: wheat;
  font-weight: 600;
  border-radius: 5px;
  border: 2px solid blue;
  font-size: 15px;
  margin-right: 10px;
  transition: all 0.5s ease;
}
.btn:hover {
  background-color: transparent;
  color: blue;
  box-shadow: 0 0 20px blue;
}
.btn1 {
  background-color: transparent;
  color: blue;
}
.btn1:hover {
  background-color: blue;
  color: white;
  box-shadow: 0 0 20px blue;
}

nav.sticky {
  background-color: rgb(43, 41, 41);
  padding: 5% 16px;
  box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 1);
  z-index: 100;
}

.p-about {
 

  margin-bottom: 20px;
  margin-top: 10px;
}

.about {
  display: flex;
  justify-content: space-around;
  align-items: start;
  color: white;
}
.about-image {
  border-radius: 50%;
  height: 400px;
  width: 400px;
  margin-right: 20px;
  border: 3px solid blue;
}
.about article {
  width: 100%;
  margin-right: -60px;
}
.about p {
  text-align: left;
  font-size: 15px;
}
.services-main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  margin-top: 30px;
  margin-left: -30px;
}

.services-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  text-align: left;
  height: 200px;
  width: 300px;
  border: 1px solid white;
  border-radius: 5px;
  transition: all 0.5s ease;
}

.services-card:hover {
  transform: translateY(-5px) scale(1.03);
}
.services p {
  font-size: 14px;
}

.skill-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 30px;
  color: white;
}

.technical-container {
  display: flex;
  flex-direction: column;
  justify-self: start;
  align-items: start;
  text-align: left;
}
.info {
  font-size: 12px;
  margin: 5px 0;
}
.progress-line {
  width: 350px;
  background-color: black;
  height: 5px;
  border-radius: 5px;
  position: relative;
  animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
  transform: scaleX(0);
  transform-origin: left;
  z-index: 2;
}
.progress-line span {
  height: 100%;
  background-color: blue;
  position: absolute;
  border-radius: 5px;
  animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
  transform: scaleX(0);
  transform-origin: left;
}

.html span {
  width: 80%;
}
.css span {
  width: 70%;
}
.javascript span {
  width: 90%;
}
.java span {
  width: 50%;
}
.python span {
  width: 30%;
}
.react span {
  width: 75%;
}
.node span {
  width: 90%;
}

.html span::after {
  content: "80%";
}
.css span::after {
  content: "70%";
}
.javascript span::after {
  content: "90%";
}
.java span::after {
  content: "50%";
}
.python span::after {
  content: "30%";
}
.react span::after {
  content: "75%";
}
.node span::after {
  content: "90%";
}

.progress-line span::after {
  background-color: black;
  position: absolute;
  padding: 2px 8px;
  top: -28px;
  right: -20px;

  font-size: 12px;
  color: white;
  border-radius: 3px;
  animation: showText 0.5s 1s linear forwards;
}

.skill-main {
  margin-bottom: 30px;
}
.sk-list-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  width: 500px;
}
.sk-list {
  padding: 10px;
  background-color: blue;
}

.skill-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.info span {
  animation: showText 0.5s 1s linear forwards;
  opacity: 0;
}

@keyframes animate {
  100% {
    transform: scaleX(1);
  }
}

@keyframes showText {
  100% {
    opacity: 1;
  }
}

.radial-bars {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
}

.radial-bar {
  width: 50%;
  height: 170px;
  margin-bottom: 20px;
}

.svg-info {
  display: flex;
  justify-content: flex-start;
  align-items: start;
  flex-direction: column;
}

.progress-bar {
  stroke-width: 10;
  stop-color: black;
  fill: transparent;
  stroke-dasharray: 502;
  stroke-dashoffset: 502;
  stroke-linecap: round;
  animation: animate-bar 1s linear forwards;
}

@keyframes animate-bar {
  100% {
    stroke-dashoffset: -1;
  }
}
/*
svg {
  position: absolute;
  top: 300%;
  right: 50%;
  transform: translate(-50% -50%) rotate(-90deg);
  width: 120px;
  height: 160px;
}
*/
.path {
  stroke-width: 10;
  stroke: blue;
  fill: transparent;
  stroke-dasharray: 502;
  stroke-dashoffset: 502;
  stroke-linecap: round;
}

.path1 {
  animation: animate-path1 1s 1s linear forwards;
}

.path2 {
  animation: animate-path2 1s 1s linear forwards;
}
.path3 {
  animation: animate-path3 1s 1s linear forwards;
}
.path4 {
  animation: animate-path4 1s 1s linear forwards;
}
@keyframes animate-path1 {
  100% {
    stroke-dashoffset: 290;
  }
}

@keyframes animate-path2 {
  100% {
    stroke-dashoffset: 350;
  }
}

@keyframes animate-path3 {
  100% {
    stroke-dashoffset: 325;
  }
}

@keyframes animate-path4 {
  100% {
    stroke-dashoffset: 275;
  }
}
.project-container {
  margin-top: 60px;
}

.project-image {
  width: 300px;
  height: 280px;
}
.project-article {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: row;
  margin-bottom: 20px;
  background-color: black;
  padding: 20px;
}
.readmore-arrow {
  color: blue;
}
.project-btn {
  background-color: blue;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid blue;
}
.project-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-right: 40px;
  margin-top: 30px;
}

.project-main {
  display: flex;
  justify-content: flex-start;
  align-items: start;
  flex-direction: column;
  text-align: left;
  margin-left: 30px;
  padding: 10px;
}
.contact-article h2 {
  margin-bottom: 20px;
}
.contact-info {
  margin-bottom: 20px;
}
.conatct-contact1 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 20px;
  background-color: aqua;
}
.contact-name {
  font-size: 16px;
  margin-left: 5px;
}
.contact-icon {
  font-size: 15px;
}
.contact-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}
.heading {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-btn {
  padding: 10px;
  width: 150px;
  border-radius: 5px;
  background-color: blue;
  border: 1px solid blue;
}
.contact-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.form {
  width: 600px;
}
form {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
}
.contact-main {
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.contact-article {
  text-align: left;
}
input {
  width: 400px;
  height: 40px;
  margin: 10px;
  outline: none;
  border-radius: 5px;
  padding: 5px;
  border: 1px solid gainsboro;
}
textarea {
  width: 400px;
  height: 150px;
  margin: 10px;
  outline: none;
  border-radius: 5px;
  text-align: left;
  padding: 10px;
  border: 1px solid gainsboro;
}
.footer {
  height: 40px;
  width: 100%;
  background-color: aliceblue;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer span {
  background-color: transparent;
  color: #000;
}
.floater {
  float: right;
  margin-right: 5%;
  position: fixed;
}
.floater-icon {
  font-size: 30px;
  background-color: blue;
  color: #fff;
  border-radius: 50%;
  cursor: pointer;
}
.bk-icon {
  background-color: blue;
}

@media screen and (max-width: 450px) {

 
  .navlinks, .contact{display: none;}
  .icon-color{color: white; }

  .menu{ display: block;}

  .logo {
  font-size: 25px;
  font-weight: 900;
  color: blue;
  background-color: transparent;
}
  nav{
   display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 70px;
  background-color: transparent;
  position: fixed;
  top: 0;
  right: 0;
  transition: all 0.5s ease;
  padding:0  30px;
  background-color: blue;

  }

.btn {
  padding: 6px 16px;

  display: inline-block;
  background-color: blue;
  color: wheat;
  font-weight: 600;
  border-radius: 5px;
  border: 2px solid blue;
  font-size: 13px;
  margin-right: 10px;
  margin-top: 20px;
  transition: all 0.5s ease;
}
.btn:hover {
  background-color: transparent;
  color: blue;
  box-shadow: 0 0 20px blue;
}
.btn1 {
  background-color: transparent;
  color: blue;
}
.btn1:hover {
  background-color: blue;
  color: white;
  box-shadow: 0 0 20px blue;
}


  section {
  padding: 0 ;
}
  .hero {

  width: 100%;
  /*
background: url(./assets/images/mypic.png);
background-size: cover;
background-position: top right;
*/
  display: flex;
  justify-content: center;
  grid-template-columns: 100%;
  color: white;
  background-color: aqua;
  height: 670px;
  padding: 0;
  margin: 0;
}
.main-hero{
  margin-top: -60px;

 display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 670px;


}

.main-article {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  
  text-align: left;
  
}

.my-name {
  font-size: 30px;
  font-weight: 900;
  letter-spacing: 1px;
  width: 300px;
}
.my-role {
  font-size: 15px;
  font-weight: 600;
}

.new {
  background-color: white;
}

.my-role span {
  color: blue;
}
.role-desc {
  font-size: 12px;
  text-align: left;
}







.about {
  display: flex;
  justify-content: space-around;
  align-items: start;
  color: white;
  flex-direction: column;
}
.about-image {
  border-radius: 50%;
  height: 250px;
  width: 250px;
  margin-bottom: 10px;
  border: 3px solid blue;


}

.about article {
  width: 300px;
  margin-right: -60px;
}
.about p {
  text-align: left;
  font-size: 12px;
}

.project-container {
  margin-top: 60px;

}

.project-image {
  width: 250px;
  height: 250px;
}
.project-article {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
  background-color: black;

  
 
}
 .aos-animate{margin: 0;padding: 0;}
.readmore-arrow {
  color: blue;
}
section.app{padding: 0 0 0;}
.project-btn {
  background-color: blue;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid blue;
}
.project-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-right: 20px;
  margin-top: 30px;
}

.project-main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: left;
  width: 250px;
  margin-left: 0px;
  font-size: 14px;
  
 
  margin-top: 20px;
 
}
section {
  padding: 0 12% 50px;
}

.contact-main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

 padding: 0;
 margin: 0;
 width: 200px;
margin-bottom: 100px;


  
}


#contact{}

.contact:hover {
  background-color: blue;
  color: white;
  box-shadow: 0 0 20px white;
  transform: scale(1.1);
}
.contact-article{display: none;}
.contact-article h2 {
  margin-bottom: 20px;
}
.contact-info {
  margin-bottom: 20px;
  font-size: 12px;
}
.contact-btn-container{display: flex;justify-content: center;align-items: center;margin-left: auto;}
.contact-btn{width: 200px;margin-left: 100px;}
.conatct-contact1 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 20px;
  background-color: aqua;
}
.contact-name {
  font-size: 12px;
  margin-left: 5px;
}
.contact-icon {
  font-size: 15px;
}


.form {
  width: 300px;
}
form {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  width: 300px;
  margin-left: 50px;
}

input {
  width: 300px;
  height: 40px;
  margin: 10px;
  outline: none;
  border-radius: 5px;
  padding: 5px;
  border: 1px solid gainsboro;
  margin-left: 50px;
 

}

textarea {
  width: 300px;
  height: 100px;
  margin: 10px;
  outline: none;
  border-radius: 5px;
  text-align: left;
  padding: 10px;
  border: 1px solid gainsboro;
   margin-left: 50px;
 
}

}
@media screen and (min-width: 451px)and (max-width: 649px)  
{


  .navlinks {
  display: flex;
  justify-content: space-between;
  width: 40%;

}
.contact{
font-size: 13px;
 padding: 8px 8px;
}
.logo {
  font-size: 20px;
  font-weight: 600;
  color: blue;
  background-color: transparent;
}
.navlinks li {
  transition: all 0.5s ease;
  font-weight: 400;
  color: white;
  font-size: 13px;
}
.main-hero{

 display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;


}
.my-name {
  font-size: 20px;
  font-weight: 900;
  width: 400px;
  
}
.my-role {
  font-size: 20px;
  font-weight: 600;
}

.role-desc {
  font-size: 12px;
  text-align: left;
  width: 450px;
}

}


@media screen and (min-width: 650px)and (max-width: 800px)  
{
  .navlinks {
  display: flex;
  justify-content: space-between;
  width: 30%;

}
.contact{
font-size: 15px;
 padding: 10px 10px;
}

.navlinks li {
  transition: all 0.5s ease;
  font-weight: 400;
  color: white;
  font-size: 13px;
}
.main-hero{

 display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;


}
.my-name {
  font-size: 40px;
  font-weight: 900;
  
}
.my-role {
  font-size: 30px;
  font-weight: 600;
}

.role-desc {
  font-size: 12px;
  text-align: left;
}
 
}

@media screen and (min-width: 801px) and (max-width: 1000px) {
  .navlinks {
  display: flex;
  justify-content: space-between;
  width: 30%;
}
.main-hero{

 display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;


}

.main-article {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  text-align: left;
  padding-left: 100px;
}

.my-name {
  font-size: 40px;
  font-weight: 900;
  
}
.my-role {
  font-size: 30px;
  font-weight: 600;
}

.new {
  background-color: white;
}

.my-role span {
  color: blue;
}
.role-desc {
  font-size: 14px;
  text-align: left;
}

.hero {
  height: 100vh;
  width: 100%;}


}